@-webkit-keyframes projectImgScroll {
  from {
    border-radius: 50%;
    filter: grayscale(80%);
  }
  to {
    border-radius: 0;
    filter: grayscale(70%);
  }
}

@keyframes projectImgScroll {
  from {
    border-radius: 50%;
    filter: grayscale(80%);
  }
  to {
    border-radius: 0;
    filter: grayscale(70%);
  }
}

@keyframes pulse {
  0%,
  100% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.05);
  }
}

@keyframes fadeInSector {
  from {
    opacity: 0;
    transform: rotate(var(--start-angle, 0deg)) scale(0.8);
  }

  to {
    opacity: 1;
    transform: rotate(var(--start-angle, 0deg)) scale(1);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.5);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}
