@font-face {
  font-family: 'JetBrains_Mono';
  src: url('../../public/fonts/JetBrains_Mono/static/JetBrainsMono-SemiBold.ttf') format('ttf');
}
@font-face {
  font-family: 'AnonymousPro';
  src: url('../../public/fonts/AnonymousPro-Regular.ttf') format('ttf');
}
