nav {
  position: fixed;
  top: 0;
  width: 100%;
  background: var(--nav-bg);
  backdrop-filter: blur(10px);
  z-index: 1000;
  padding: 1rem 0;
  box-shadow: var(--nav-shadow)
}

.nav-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  background: linear-gradient(45deg, var(--text-primary), var(--neon-blue), var(--neon-pink));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.nav-links {
  position: relative;
  display: flex;
  list-style: none;
  gap: 2rem;
}

.nav-links a {
  text-decoration: none;
  color: var(--text-primary);
  transition: all 0.3s ease;
  position: relative;
  font-size: 16px;
}

.nav-links a:hover {
  color: var(--neon-pink);
}

.nav-links a::after {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 0;
  height: 2px;
  background: linear-gradient(45deg, var(--text-primary), var(--neon-blue), var(--neon-pink));
  transition: width 0.3s ease;
}

.nav-links a:hover::after {
  width: 100%;
}
.nav-links a span {
  color: var(--neon-blue);
}
.nav-links a:hover span {
  color: var(--text-primary);
}


.hamburger {
  display: none;
}

#toggle {
  display: none;
}

@media (max-width: 850px) {
  .hamburger {
    display: block;
    position: fixed;
    top: calc(2.5rem  / 2);
    left: 20px;
    width: 40px;
    cursor: pointer;
    border: none;
    padding: 5px;
    background-color: var(--color-text-primary);
    z-index: 1001;
  }

  .hamburger span {
    display: block;
    width: 100%;
    height: 2px;
    background-color: #f0f0f0;
    margin: 5px 0;
    -webkit-transition: .5s all;
    transition: .5s all;
  }

  /* Анимация гамбургера при активном состоянии */
  #toggle:checked + .hamburger span:nth-child(1) {
    transform: translateY(10px) rotate(45deg);
  }

  #toggle:checked + .hamburger span:nth-child(2) {
    opacity: 0;
  }

  #toggle:checked + .hamburger span:nth-child(3) {
    transform: translateY(-10px) rotate(-45deg);
  }
  nav {
    max-width: 350px;
  }
  .nav-container {
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
  }
  .nav-links {
    display: none;
    flex-direction: column;
    -webkit-transition: left .3s ease;
    transition: left .3s ease;
    z-index: 1000;
    border-radius: 5px;
    
    gap:5px;
  }
  #toggle:checked ~ .hamburger {
    background: linear-gradient(135deg, var(--text-primary), var(--neon-blue), var(--neon-pink));
  }
  #toggle:checked ~ .nav-links {
    display: flex;
  }

  .nav-links a {
    font-size: 22px;
  }
}