.projects {
  max-width: 1200px;
  margin: 0 auto;
  padding: 70px 2rem;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-areas: 
  "head head head more more"
  "type type type type type";
  row-gap: 40px;
}
.moreProject {
  grid-area: more;
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: center;
  column-gap: 20px;
  position: relative;
}

.moreProject .lineMore {
  width: 100%;
  height: 2px;
  background: var(--color-text-primary);
  margin: 10px 0;
}
#moreWatch {
  display: none;
}
.moreProject p{
  line-height: 0.9;
  cursor: pointer;
}
.anyMore {
  position:absolute;
  grid-area: any;
  top: calc(1rem + 53px);
  left: 0;
  z-index: 2;
  width: 100%;
  display: none;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 15px;
  background-color: var(--bg-primary);
  transform: translateX(100%);

}
 #moreWatch:checked ~ .anyMore {
  display: grid;
  transform: translateX(0);
  }
.cardProjects {
  grid-area: type;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 15px;
}

.card {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  border: 1px solid var(--color-text-primary);
}
.card img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0;

  border: none;
  border-bottom: 1px solid var(--color-text-primary);
  -webkit-animation: projectImgScroll 0.8s ease;
          animation: projectImgScroll 0.8s ease;
  filter: grayscale(80%);
  transition:cubic-bezier(0.785, 0.135, 0.15, 0.86);
  transition-duration: 0.8s;
}
.card img:hover {
  filter: none;
}

@-webkit-keyframes projectImgScroll {
  from {border-radius:50%; filter: grayscale(80%);}
  to {border-radiu: 0; filter: grayscale(70%);}
}

@keyframes projectImgScroll {
  from {border-radius:50%; filter: grayscale(80%);}
  to {border-radius: 0; filter: grayscale(70%);}
}


.card .stack, 
.card h2,
.card p,
.card .links {
  padding: 0 10px;
  border: none;
  border-bottom: 1px solid var(--color-text-primary);
}
.card .links {
  display: flex;
  justify-content: space-between;
  border-bottom: none;
}


