.projects {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-areas:
    'head head head more more'
    'type type type type type';
  row-gap: 40px;
}
.moreProject {
  grid-area: more;
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: center;
  column-gap: 20px;
  position: relative;
}

.moreProject .lineMore {
  width: 100%;
  height: 2px;
  background: var(--color-text-primary);
  margin: 10px 0;
}
#moreWatch {
  display: none;
}
.moreProject p {
  line-height: 0.9;
  cursor: pointer;
}
.anyMore {
  position: absolute;
  grid-area: any;
  top: calc(1rem + 53px);
  left: 0;
  z-index: 2;
  width: 100%;
  display: none;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 15px;
  background-color: var(--bg-primary);
  transform: translateX(100%);
}
#moreWatch:checked ~ .anyMore {
  display: grid;
  transform: translateX(0);
}
.cardProjects {
  grid-area: type;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 15px;
}
