* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
    }

:root {
  --neon-pink: #FF6F61;
  --neon-dark: #333333;
  --neon-blue: #C778DD;
  --bg-primary: #fafafa;
  --bg-secondary: #ffffff;
  --text-primary: #333333;
  --text-secondary: #666;
  --shadow: 0 8px 20px rgba(40, 44, 51, 0.7);
  --shadow-hover: 0 14px 30px rgba(40, 44, 51, 0.7);
        }
