#newOrder {
  display: none;
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  margin: 0 auto;
  max-width: fit-content;
  z-index: 1000;
}
#thanks {
  display: none;
}

.close-btn {
  position: absolute;
  right: 20px;
  top: 10px;
  font-size: 32px;
  cursor: pointer
}

.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  background: var(--bg-secondary);
  padding: 2rem;
  box-shadow: var(--shadow);
}

.contact-form p {
  margin-bottom: 1.5rem;
}
.form-group {
  margin-bottom: 1.5rem;
  width: 100%;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  color: var(--text-primary);
  font-weight: bold;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 5px;
  border: 1px solid  var(--neon-dark);
  font-size: 18px;
  transition: all 0.3s ease;
}

.form-group input:focus,
.form-group textarea:focus {
  outline: none;
  border-color: var(--neon-dark);
  box-shadow: var(--shadow-hover);
}
.form-group select {
  font-size: 18px;
  padding: 5px;
}

.submit-btn {
  margin-top: 7%;
  padding: 2%;
  background-color: var(--bg-secondary);
  border: 1px solid;
  border-color: var(--text-primary);
  font-size: 16px;
  transition: all 0.3s ease;
  box-shadow: var(--shadow);
}

.submit-btn:hover {
  color: var(--neon-pink);
  transform: translateY(-3px);
  box-shadow: var(--shadow-hover);
}


