@use 'variables.scss';
@use 'base.scss';
@use 'fonts.scss';
@use 'navMenu.scss';
@use 'hero.scss';
@use 'skills.scss';
@use 'projects.scss';
@use 'services.scss';
@use 'form.scss';
@use 'cards.scss';
@use 'animations.scss';
@use 'footer.scss';
